Animations
Benchmark
CacheRecords
directx9c
ForceFeedback
Help
KarmaData
KFMod20
Manual
maps
Music
NullGrav
Prefabs
Screenshots
Server-files-redirect
Sounds
Speech
StaticMeshes
System
Textures
ut2004 content 2
ut2004scripts3369
Web
YARM
installscript.vdf